

  <div [class]="myClass">
    <h1 class="app-title display-3">
        Welcome to the beer corner {{ name }}!

    </h1>
  </div>

  <h1>
    {{ 5 + 2 }}
  </h1>

  <!-- can use built in JS methods -->
  <h1>
    {{ name.length }}
  </h1>

  <h1>
    {{ name.toUpperCase() }}
  </h1>

  <!-- Call the greetUser method defined in the typescript file -->
  <h2>
    {{ greetUser() }}
  </h2>

  <!-- Interpolate the siteUrl variable stored in TS file -->
  <h2>
    The URL of this site is {{ siteUrl }}
  </h2>

  <input [disabled]="isDisabled" [id]="myId" class="form-control" type="text" placeholder="Enter beer here" value = "BEER">
  <hr class="my-4">
  <button type="button" [class.btn-danger]="hasError" class="btn">Danger of running out of beer!</button>
