
/* angular picks up styles that come from the root component's css file.
Don't know how to make it apply e.g cheese.component css yet  */
.app-title {
  color: purple;


}

.app-body {
  color: indigo;
  padding: 5%;
}
