
<!-- this app component is the ROOT COMPONENT. Best practice to put all other components in here -->
<app-navbar></app-navbar>

<!-- giant container -->
<div class="container">

  <div class="jumbotron">
      <h1 class="app-title display-3"> Welcome to the root component: {{ title }}! </h1>
      <p class="app-body lead"> This is my first Angular SPA! Navigate through the different components using the navbar. </p>
      <hr class="my-4">
      <app-cheese></app-cheese>

  </div>
  <!-- end of app jtron -->
  <div class="jumbotron">

    <app-beer></app-beer>
  </div>
  <!-- end of beer jtron -->
</div> <!-- end of giant container-->

<!-- Photo by eberhard grossgasteiger on Unsplash -->
