/* You can add global styles to this file, and also import other style files */
#background-img {
  background: url("assets/images/waves_unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;

}

.navbar-margin {
  margin-bottom: 70px;
}
